/* Global Styles */

@import url('https://fonts.googleapis.com/css?family=Varela+Round');

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { min-width: 100%; }

body, html { font-size: 100%; padding: 0; margin: 0; overflow: auto; }

body {
  font-family: 'Varela Round', sans-serif;
  color: #1a9b9c;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-family: 'Varela Round', sans-serif;
  border: none;
  background: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
  color: #333;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
